* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background: #07140b;
    color: white;
    overflow: hidden;
    user-select: none;
    touch-action: manipulation;
}

.game {
    width: 100%;
    max-width: 500px;
    min-height: 100vh;
    margin: auto;
    padding: 9px 12px 14px;
    text-align: center;
}


/* TOP BAR */

.top-bar {
    display: flex;
    gap: 7px;
    margin-bottom: 5px;
}

.top-bar div {
    flex: 1;
    background: #102517;
    border: 1px solid #2e5b35;
    border-radius: 10px;
    padding: 6px 3px;
}

.top-bar span {
    display: block;
    font-size: 9px;
    color: #b3c9b6;
}

.top-bar strong {
    display: block;
    font-size: 19px;
    margin-top: 2px;
}

#playerName {
    font-size: 12px;
    color: #bfd1c1;
    margin-bottom: 6px;
}


/* GAME AREA */

#gameArea {
    position: relative;
    width: 100%;
    height: 520px;
    overflow: hidden;
    border-radius: 18px;
    border: 2px solid #365b36;
    background: #61b6df;
}


/* SKY */

.sky {
    position: absolute;
    inset: 0 0 46% 0;
    background:
        linear-gradient(
            #59bde8,
            #a6e1ef
        );
}


/* MOUNTAINS */

.mountain {
    position: absolute;
    bottom: 43%;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 125px solid #608477;
}

.mountain-one {
    left: -50px;
}

.mountain-two {
    right: -55px;
    transform: scale(0.85);
}


/* BACKGROUND FOREST */

.forest-background {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40%;
    height: 125px;
}

.bg-tree {
    position: absolute;
    font-size: 48px;
    opacity: 0.72;
}

.tree-a {
    left: 4%;
    bottom: 10px;
}

.tree-b {
    left: 24%;
    bottom: 28px;
    font-size: 57px;
}

.tree-c {
    right: 25%;
    bottom: 20px;
    font-size: 55px;
}

.tree-d {
    right: 4%;
    bottom: 7px;
}


/* TRAIL */

.trail {
    position: absolute;
    left: 8%;
    right: 8%;
    bottom: 0;
    height: 58%;
    overflow: hidden;

    background:
        linear-gradient(
            90deg,
            #72512f 0%,
            #956d40 50%,
            #72512f 100%
        );

    border-left: 8px solid #3b7236;
    border-right: 8px solid #3b7236;
}


/* TRAIL CENTER */

.trail::before {
    content: "";
    position: absolute;
    inset: 0;

    background:
        repeating-linear-gradient(
            90deg,
            rgba(255,255,255,0.035) 0 12px,
            transparent 12px 28px
        );
}


/* TRAIL LINES */

.trail-line {
    position: absolute;
    top: -100px;
    bottom: -100px;
    width: 4px;

    background:
        repeating-linear-gradient(
            to bottom,
            rgba(255,255,255,0.35) 0 25px,
            transparent 25px 55px
        );
}

.line-one {
    left: 33.33%;
    transform: translateX(-50%);
}

.line-two {
    left: 66.66%;
    transform: translateX(-50%);
}


/* SIDE TREES */

.side-tree {
    position: absolute;
    z-index: 4;
    font-size: 58px;
    filter: drop-shadow(
        0 5px 3px rgba(0,0,0,0.2)
    );
}

.left-tree.one {
    left: -22px;
    bottom: 210px;
}

.left-tree.two {
    left: -13px;
    bottom: 85px;
    font-size: 68px;
}

.left-tree.three {
    left: -27px;
    bottom: 5px;
    font-size: 74px;
}

.right-tree.one {
    right: -22px;
    bottom: 230px;
}

.right-tree.two {
    right: -13px;
    bottom: 100px;
    font-size: 68px;
}

.right-tree.three {
    right: -27px;
    bottom: 3px;
    font-size: 74px;
}


/* OBJECTS */

#objects {
    position: absolute;
    inset: 0;
    z-index: 11;
}


/* OBSTACLE TREE */

.obstacle {
    position: absolute;
    width: 58px;
    height: 66px;
    font-size: 58px;
    line-height: 66px;
    text-align: center;
    z-index: 12;
    filter: drop-shadow(
        0 5px 4px rgba(0,0,0,0.25)
    );
}


/* ROCK */

.rock {
    position: absolute;
    width: 51px;
    height: 38px;
    border-radius: 50% 50% 42% 42%;
    background: #6d7272;
    border: 3px solid #454b4b;
    z-index: 12;
}


/* COIN */

.coin {
    position: absolute;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #ffd43b;
    border: 3px solid #dc9e00;
    box-shadow:
        0 0 12px rgba(255,212,59,0.7);
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    z-index: 13;
}


/* PLAYER */

.player {
    position: absolute;
    width: 60px;
    height: 108px;
    left: 50%;
    bottom: 31px;
    transform: translateX(-50%);
    z-index: 20;

    transition:
        left 0.13s ease,
        bottom 0.18s ease,
        transform 0.18s ease;
}


/* HEAD */

.head {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 16px;
    top: 0;
    border-radius: 50%;
    background: #d99561;
    border: 2px solid #754425;
}


/* HAIR */

.hair {
    position: absolute;
    width: 26px;
    height: 10px;
    left: 17px;
    top: -2px;
    border-radius: 50% 50% 20% 20%;
    background: #241910;
    z-index: 2;
}


/* BODY */

.body {
    position: absolute;
    width: 38px;
    height: 45px;
    left: 11px;
    top: 27px;
    border-radius: 9px;
    background: #187cc7;
    border: 2px solid #0b4e7f;
}


/* ARMS */

.arm {
    position: absolute;
    width: 10px;
    height: 39px;
    top: 30px;
    background: #187cc7;
    border-radius: 8px;
}

.arm-left {
    left: 2px;
    transform: rotate(25deg);
}

.arm-right {
    right: 2px;
    transform: rotate(-25deg);
}


/* LEGS */

.leg {
    position: absolute;
    width: 11px;
    height: 38px;
    top: 69px;
    background: #292c31;
    border-radius: 8px;
}

.leg-left {
    left: 16px;
    transform: rotate(8deg);
}

.leg-right {
    right: 16px;
    transform: rotate(-8deg);
}


/* LION */

.lion {
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    font-size: 54px;
    z-index: 18;

    transition:
        left 0.18s ease,
        bottom 0.25s ease,
        transform 0.2s ease;

    filter: drop-shadow(
        0 4px 4px rgba(0,0,0,0.3)
    );
}


/* DISTANCE MESSAGE */

#distanceMessage {
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
    z-index: 35;

    font-size: 16px;
    font-weight: bold;

    text-shadow:
        0 2px 5px rgba(0,0,0,0.7);
}


/* START SCREEN + GAME OVER */

#startScreen,
#gameOver {
    position: absolute;
    inset: 0;
    z-index: 50;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 25px;

    background:
        rgba(4, 15, 8, 0.72);

    backdrop-filter: blur(4px);
}

#gameOver {
    display: none;
}

.start-lion,
.game-over-icon {
    font-size: 70px;
}

#startScreen h1,
#gameOver h2 {
    margin: 8px 0;
    font-size: 27px;
}

#startScreen p,
#gameOver p {
    margin: 0 0 18px;
    color: #d7e1d8;
    line-height: 1.5;
}

#startScreen button,
#gameOver button {
    width: 85%;
    max-width: 280px;
    padding: 14px;

    border: none;
    border-radius: 13px;

    background: #229ed9;
    color: white;

    font-size: 17px;
    font-weight: bold;
}


/* CONTROLS */

.controls {
    display: flex;
    gap: 9px;
    margin-top: 9px;
}

.controls button {
    flex: 1;
    height: 57px;

    border: none;
    border-radius: 12px;

    background: #f1f4f2;
    color: #142219;

    font-size: 25px;
    font-weight: bold;
}

.controls button:active {
    transform: scale(0.93);
}

.controls small {
    display: block;
    font-size: 9px;
    margin-top: -3px;
}


/* SMALL SCREEN */

@media (max-height: 700px) {

    .game {
        padding-top: 5px;
    }

    #gameArea {
        height: 435px;
    }

    .player {
        bottom: 24px;
    }

    .side-tree {
        font-size: 48px;
    }

    .lion {
        font-size: 46px;
    }
}
